body {

    max-width: 1600px;
    background: url(img/background.jpg);
}

.portfolio-list {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1600px;
    padding: 40px;
    list-style: none;

}

.portfolio-item {

    margin: 0 auto;
    margin-bottom: 60px;

}

a {

    width: 400px;
    height: 224px;
    display: block;
    border-radius: 5px;
    box-shadow: 0 0 16px 5px rgba(0,0,0,0.3);
}

a:hover {
    
   box-shadow: 0 0 16px 5px rgba(0,0,0,0.6);
}

.device {

    background: url(img/device-logo.jpg) no-repeat center;
}

.visa {
    
    background: url(img/visa.jpg) no-repeat center;
}
.barbershop {
    
    background: url(img/barbershop.jpg) no-repeat center;
}